<!--project/templates/project/course_suggestions.html-->
<!--Jericho Jacala jjacala@bu.edu-->
<!--list of possible courses to add to a given schedule for search criterion-->
{% extends 'project/base.html' %}

{% block content %}
<h2><a href="{% url 'show_student_page' schedule.student.pk %}">Back to {{schedule.student}}'s page</a></h2>
<div>
    {% include 'project/search.html' %}<!--include the search template to refine results-->
</div>


{% if courses %}
<h2>Courses to add for {{schedule.title}}</h2>
<table>
    <tr>
<!--loop to display each course-->
{% for course in courses %}

        <td>
            <h2>
                <p>{{ course.college }}</p>
                <a href="{% url 'show_course_page' course.pk %}">{{ course.subschool }} {{ course.department }} {{ course.number }}</a>
                
                <h4><a href="{% url 'add_registration' schedule.pk course.pk %}">Add Course To Schedule</a></h4>
            </h2>
        </td>
    {% if forloop.counter|divisibleby:5 and not forloop.last %} <!--after every fifth profile, a new row is started-->
        </tr><tr>
    {% endif %}
{% empty %}
<!--case for if query is empty, this should never be reached but it is here just in case-->
    <tr>
        <td>No courses match the selected criteria.</td>
    </tr>
{% endfor %}
<!--end of for loop-->
</tr>
</table>
{% else %}
<h2>No Course Suggestions</h2>
{% endif %}
{% endblock %}