<!--project/templates/project/delete_registration.html-->
<!--Jericho Jacala jjacala@bu.edu-->
<!--template to delete registration-->
{% extends 'project/base.html' %}

{% block content %}
  <h2>Are you sure you want to delete this registration?</h2>
  <p>{{registration.schedule}} {{registration.course}}</p>

  <!-- Form to confirm deletion -->
   <div>
    <form method="POST" action="">
        {% csrf_token %}<!--token to ensure that this came from a valid form-->
        <button type="submit">Confirm Delete</button>
      </form>
    
      <!-- Form to cancel deletion and return to the profile page -->
      <form method="GET" action="{% url 'show_student_page' registration.schedule.student.pk %}">
        <button type="submit">Cancel</button>
      </form>
   </div>
  
{% endblock %}
