<!--templates/restaurant/order.html
Show a basic HTML form to the client
-->

{% extends 'restaurant/base.html' %}

{% block content %}
    <div>
        <h1>Your order has been placed!</h1>
        <h3>Your Order Details:</h3>
        <ul>
            {% for item in items %}
                {{ item }}
            {% endfor %}
        </ul>
        <h3>Total: ${{ sumstring }}</h3>
        <p>Special Instructions: {{ instructions }}</p>
        <p>Contact Information:</p>
        <p>Name: {{ name }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Email: {{ email }}</p>
        
    </div>
{% endblock %}