<!--mini_fb/templates/mini_fb/friend_suggestions.html-->
<!--Jericho Jacala jjacala@bu.edu-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2><a href="{% url 'show_profile_page' profile.pk %}">Back to {{profile.firstname}}'s page</a></h2>
{% if profile.get_friend_suggestions %}
<h2>Friend Suggestions for {{profile.firstname}} {{profile.lastname}}</h2>
<table>
    <tr>
<!--loop to display each article-->
{% for suggestion in profile.get_friend_suggestions %}
<td>
    <h2><a href="{% url 'show_profile_page' suggestion.pk %}">{{suggestion.firstname}} {{suggestion.lastname}}</a></h2>
    
    <h3>{{suggestion.city}}</h3>
    
    <!--new: display the image URL stored in the database-->
    <img src="{{suggestion.image_url}}" alt="{{suggestion.image_url}}" height="180" width="198">
    <br>
    <a href="{% url 'add_friend' suggestion.pk %}">Add Friend</a>
</td>
{% if forloop.counter|divisibleby:5 and not forloop.last %} <!--after every fifth profile, a new row is started-->
    </tr><tr>
        {% endif %}
{% endfor %}
</tr>
</table>
{% else %}
<h2>No Friend Suggestions</h2>
{% endif %}
{% endblock %}