<!--mini_fb/templates/mini_fb/show_profile.html-->
<!--Jericho Jacala jjacala@bu.edu-->
{% extends 'mini_fb/base.html' %}


{% block content %}
<main class="grid-container"></main>

<profile class="featured">
    <div>
        <table>
                <tr>
                    <td>
                        <h2><a href="{% url 'show_profile_page' %}">{{profile.firstname}} {{profile.lastname}}</a></h2>
                        <h3>{{profile.city}}</h3>
                        
                        <!--new: display the image URL stored in the database-->
                        <img src="{{profile.image_url}}" alt="{{profile.image_url}}" height="180" width="198">
                    </td>
                    
                </tr>
            
        </table>
        {% if request.user.is_authenticated and request.user == profile.user %}
        <h4><a href="{% url 'update_profile' %}">Update Profile</a></h4>
        {% endif %}
    </div>
    
</profile>

<div>
    {% if profile.get_friends %}
    <h2>
        {{profile.firstname}}'s Friends
    </h2>
    <table>
        <tr>
    <!--loop to display each article-->
    {% for friend in profile.get_friends %}
    <td>
        <h2><a href="{% url 'show_profile_page' friend.pk %}">{{friend.firstname}} {{friend.lastname}}</a></h2>
        
        <h3>{{friend.city}}</h3>
        
        <!--new: display the image URL stored in the database-->
        <img src="{{friend.image_url}}" alt="{{friend.image_url}}" height="180" width="198">

    </td>
    {% if forloop.counter|divisibleby:5 and not forloop.last %} <!--after every fifth profile, a new row is started-->
        </tr><tr>
            {% endif %}
    {% endfor %}
    </tr>
    </table>
    {% else %}
    <h2>{{profile.firstname}} has no Friends! What a loner!</h2>
    {% endif %}
    {% if request.user.is_authenticated and request.user == profile.user %}
    <h2><a href="{% url 'friend_suggestions' %}">Show Friend Suggestions</a></h2>
    {% endif %}
</div>

{% if request.user.is_authenticated and request.user == profile.user %}
<h2><a href="{% url 'news_feed' %}">Show News Feed</a></h2>
{% endif %}

<!--show the status messages-->
<div>
    {% if request.user.is_authenticated and request.user == profile.user %}
    <h2><a href="{% url 'create_status' %}">Create a status message</a></h2>
    {% endif %}
    {% if profile.get_status_messages %}
    <h2>Status Messages</h2>
    <table>
        {% for c in profile.get_status_messages %}
        <tr>
            <td>
                
        <strong>{{c.message}} at {{c.timestamp}}</strong>
        {% if request.user.is_authenticated and request.user == profile.user %}
        <h4><a href="{% url 'delete_status' c.pk %}">Delete status message</a></h4>
        <h4><a href="{% url 'update_status' c.pk %}">Update status message</a></h4>
        {% endif %}

            {% for img in c.get_images %}
<img src='{{img.imagefile.url}}' alt='{{img.imagefile.url}}' width="200">
                
            
        
    {% endfor %}

        </tr>
        
        {% endfor %}
        
    </table>
    
    {% else %}
    <h2>No Status Messages</h2>
    {% endif %}
</div>
</main>
{% endblock %}