/* This CSS was derived from NetNinja's multi-column grid example. */

body {
    margin: 30px;
    background: #d1dedd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
}

title{
    color: coral;
}

body > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

h2, h3,h4 {
    color: rgb(83, 83, 83); text-align: center;
}

h1{
    color: coral; text-align: center;
}

p {
    text-align: center;
}

header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
    color: darkgrey;
}/*
.grid-container {
    background: #eee;
    max-width: 900px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
}
*/
article.featured {
    grid-column: span 3;
    display: grid; /* nested grid */
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #bbc7c7;
    padding-bottom: 40px;
}

article img, article.featured img {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 8px;
}

profile img, profile.featured img {
    border: 4px solid #fff;
    border-radius: 8px;
}

article p, article h3 {
    margin: 20px 10px;
}
/* responsive styles: adapt to smaller screen sizes */
@media screen and (max-width: 980px) {

    article {
        grid-column: span 3;
        display: grid; /* nested grid */
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {

    article, article.featured {
        
        display: block; 
        margin: 0px 20px;
    }
}

div{
    margin: auto;
    text-align: center;
}

table, th, td{
    margin: auto;
    text-align: center;
    border: 1px solid black;
    background: darkgray;
}


