<!--HTML template for about page-->
{% extends 'quotes/base.html' %}
{% block content %}
        <div><img src={{image}} alt="pictureofwinston" width="800">
                <p>Jameis Lanaed Winston (born January 6, 1994) is an American professional football quarterback for the Cleveland Browns of the National Football League 
                        (NFL). He played college football for the Florida State Seminoles, becoming the youngest player to win the Heisman Trophy and leading his team to 
                        victory in the 2014 BCS National Championship Game during his freshman year. Declaring for the NFL after his sophomore season, Winston was selected
                         first overall by the Tampa Bay Buccaneers in the 2015 NFL draft.
                </p>
                <p>
                        Winston set several franchise rookie records for the Buccaneers, earning him Pro Bowl honors, and led the league in passing yards during the 
                        2019 season. However, he was unable to reach the playoffs with Tampa Bay and his 2019 campaign was also marked with him leading the league in 
                        interceptions, including setting the NFL season record for interceptions returned for touchdowns. After his rookie contract with the Buccaneers 
                        expired, Winston joined division rival New Orleans Saints, where he alternated as a starter and backup for four seasons. He later signed a one-year
                         deal with the Cleveland Browns.

                </p>

                <p>
                        The creator of this web application is Jericho Jacala, a student at Boston University studying computer science.
                </p>
        </div>
        {% endblock %}